*{
    margin:0;
    padding:0;
}

#header{
    background-image: url("banner.jpg");
    height:80vh;
    background-size:cover;
    background-position:center;

}

.navbar-nav{

    float:right;
    color:#fff !important
}

.nav-brand img{
    width:150p;
    margin-left:30px;
}

.navbar-toggler{

    border:none !important;
    outline:none !important;

}

nav .fa-bars{
    color:#fff !important;
    font-size: 26px;

}
/* -------------------------------------Welcome Text----------------------- */
.welcome{
    padding:50px 100px;
    margin-top:-140px;
    background-color:#fff;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.2) ;

}

.welcome h1{

    color:#333;
}

.welcome .home-btn{

    padding:10px 30px;
    border-radius: 30px;
    color:#fff;
    background-color:darkcyan;
}

.welcome btn:focus{
    box-shadow: none;
    
}
/*----------------------------About Us------------------------ */
#about{

    padding-top:100px;
    padding-bottom:100px;
}


#about .col-md-6{

    padding:20px 10px;
}

#about h3{

    margin:20px auto;
}

/* ---------------------------Services----------------- */

#services{

    background-color: #efefef;
    padding-top:80px;
    padding-bottom:80px;

}

#services .col-md-4{

    padding:20px;

}

#services .col-md-4 h4{

    padding:5px;
    
}

#services .col-md-4 img{

    width:50px;
    
}

#services .col-md-4{

    padding:20px;
    
}

#services .col-md-4 p{
    padding:5px;
    text-align: justify;
}

/* -----------------------features...................... */

#features{

    padding-bottom: 100px;
    padding-top:100px;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url(/fit.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    color:#fff;
    
}

#features .col-md-6{

    padding:30px
}



}

.feature-box{

    height:200px;
}

.feature-box .feature-left{

    height: 40px;
    width:20%;

}

.feature-box .feature-left .fa{

    padding-top:60px;
    font-size: 50px;
}

.feature-box .feature-right{

    height:170px;
    width:80%;
    float:left;
    
}

.feature-box .feature-right h4{

    padding-top:20px;
    padding-left:90px;
    text-align:left;
}

.feature-box .feature-right p{

    padding-left:80px;
    text-align: left;
}

/* ---------------------Testimonials------------------ */

#testimonials{

    padding-top:100px;
    padding-bottom: 100px;
}

#testimonials .col-md-4{

    padding:10px 30px;
}

#testimonials img{
    width:60px;
    height:60px;
    border-radius:50%;
    margin-left: -30px;
    margin-top: -80px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}

.review{
    
    font-size:18px;
    padding:10px 10px 50px 20px;
    border-radius: 10px;
    box-shadow:0px 0px 30px 1px rgba(0,0,0,0.2);

}

.review .fa-twitter{ 

        color:#013f7e;
        position: relative;
        bottom:100px;
        top:05px;
}

#testimonials span
{
    color:#013f7e;
    font-weight:500;
    font-size:18px;
    position: relative;
    top:05px;
    
}

#testimonials h1{

    margin-bottom:20px;
    color:#013f7e;
}

#testimonials p{

    padding-bottom:20px;
    
}

#testimonials .middle{
    margin-bottom: 20px;
    margin-top:-30px;
}

/*----------------------------Subscribe--------------------- */

.subscribe{
    padding:50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    margin-bottom: -160px;
}

.subscribe h3, .subscribe p{

    color:#ffff;
}

.subscribe .input-group{

    border-radius:30px;
    background: #fff;
    max-height:500px;
    margin:10px auto;
    padding:5px;

}

.subscribe  .form-control{
    border:none;
    background:transparent;
}

.subscribe .form-control :focus{
    box-shadow:none;
    background:transparent;
}

.subscribe .input-group-append{

    background-image:linear-gradient(to right,#1c03b5,#5c8bef);
    border-radius:30px;
}

.subscribe .input-group-text{

    background:transparent;
    border:none;
    color:#fff;
}

.subscribe .btn:focus{
    box-shadow: none;
}

/* ------------------------Footer------------------------------- */

#footer{

    margin-top:70px;
    padding:100px;
    background-color: #efefef;
    color:#013f7e;
}

.footer-logo{

    width:150px;
    margin-top:25px;
    margin-bottom: 50px;

} 

#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#footer p{
    font-size: 19px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 25px;
}

#footer .city{
    margin-left:37px;
}

#footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}

#footer hr{
    margin-top: 10px;
}
#footer .fa-heart-o{
    color:red;
    font-size: 15px;
}

#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size:15px;
}
